/* Tùy chỉnh kiểu dáng của menu */
.menu {
    background-color: #f8f9fa; /* Màu nền */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiển thị đường viền bóng */
}
.sanpham{
    background-color: white;
    margin:0px auto;
}


  /* Tùy chỉnh kiểu dáng của các nút trong menu */
.menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212529; /* Màu chữ */
    transition: background-color 0.3s; /* Hiệu ứng chuyển động màu nền */
}

  /* Khi di chuột qua nút, thay đổi màu nền */
.menu a:hover {
    background-color: #e9ecef;
}

.card {
    border-radius: 0 !important;
}

.card-title{
    color: black;
    text-decoration: none;
}
.btn-dangnhap {
    background: none;
    border: none;
}
.btn-dangnhap i {
    font-size: 2rem;
    text-decoration: none; 
    color: white;  
}
.btn-dangnhap i:hover {
    color: blue;      
}
.btn-cart i {
    font-size: 2rem;
    text-decoration: none; 
    color: white;  
}
.btn-cart i:hover {
    color: green;      
}
.btn-buy{
    width: 60px;
}
.btn-addtocart{
    width: 60px;
}

.larger-card-img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    align-items: center;
}
.table-container {
    display: none;
}

.table-container.active {
    display: block;
}